* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boxes {
  width: 600px;
  background-color: yellow;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}
.box1 {
  width: 150px;
  height: 400px;
  background-color: orange;
}

.box2 {
  width: 250px;
  height: 400px;
  background-color: red;
}
